a {
    cursor: pointer;
}


.mystery-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.handy-container {
    width: 325px; /* Breite eines typischen Smartphones */
    height: 667px; /* Höhe eines typischen Smartphones */
    border: 1px solid #ccc; /* Randstil - optional */
    border-radius: 10px; /* Abgerundete Ecken - optional */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 

}


.content {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 2 2;
    height:100%;
    max-height: 667;
    padding: 15px;
    padding-top: 60px;
    padding-bottom: 80px;

    word-wrap: break-word;
}

.hero {
    box-sizing: border-box;
}


.mystery-header {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mystery-hero {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.lobby {
    padding: 0 10px;
    
}

.lobby-list {
    border-radius: 5px; 
}

.channel-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-direction: row;
}

.listening-in-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

#listenerNumber {
    background-color: gray;
    color: white;
    border-radius: 5px;
    padding: 5px 8px;
}