.arrow-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.arrow-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    transition-duration: 0.4s;
}

.arrow-button:hover {
    background-color: #45a049;
}

.text-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status-input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 150px;
}

.status-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 20px auto;
}

.emoji-text-container {
    display: flex;
    align-items: center;
}

.emoji-text-column {
    flex-direction: column;
}

.emoji-text-row {
    flex-direction: row;
    justify-content: space-evenly;
}

.emoji-window {
    font-size: 4em;
    margin-bottom: 10px;
    padding: 0px 20px;
}

.entered-text {
    font-size: 1.5em;
}

.action-buttons {
    margin-top: 15px; 
    width: 100%;
    padding: 0 20px; 
    display: flex; 
    justify-content: space-evenly;
}

.action-buttons button {
    padding: 5px 10px; 
}